---
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Legacy of the Seas - Metal Band</title>
  </head>
  <body class="bg-black text-white">
    <h1>Legacy of the Seas</h1>
    <p>Sitio en construcción...</p>
  </body>
</html>
